# Dependencies
node_modules/
.pnpm-store/

# Build Output
dist/
build/
.next/
.out/

# Environment
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db

# Logs
*.log
logs/

# Database
prisma/*.db
prisma/*.db-journal

# Testing
coverage/

# Turbo
.turbo/

# Expo
.expo/
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*

# React Native
*.hbc

# Docker
docker/data/
docker/pgdata/

# Firebase
*-firebase-adminsdk-*.json
.vercel
.env*
